/* Estilo del contenedor principal */
.container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100vh;          /* Asegura que el contenedor ocupe toda la altura de la ventana */
    margin: 0;              /* Elimina el margen predeterminado del body */
  }
  
  /* Estilo del contenedor de la tarjeta */
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 200px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    background: linear-gradient(145deg, #f5dfdf, #fbd9d9);
    /* justify-content: center; (No necesario aquí) */
  }
  
  .card-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-container p {
    font-size: 18px;
    color: #333;
    margin: 0;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }
  